<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./c_css/home.css" rel="stylesheet" />
  </head>
  <body></body>
  <body>
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
      <div class="container px-4 text-center">
        <h1 class="fw-bolder">ABOUT</h1>
      </div>
    </header>

    <!-- About section-->
    <section id="about">
      <div class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
            <h2>About this page</h2>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
              eveniet id beatae quia facere assumenda consectetur deserunt sunt!
              Magni rerum velit in qui error tenetur id neque tempora? Dolorum,
              velit!
            </p>
            <ul>
              <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deserunt, accusantium.
              </li>
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est.
              </li>
              <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa,
                explicabo?
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- js bootstrap -->
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.min.js"></script>
  </body>
</html>
