<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Page</title>
  </head>
  <body>
    <ul>
      <!-- Looping through data -->
      <% posts.forEach((post)=> { %>
      <li>
        <h2><%= post.post %></h2>
        <p><%= post.description %></p>
        <% if(post.comments.length) { %>
        <h4>Comments -</h4>
        <% post.comments.forEach((comment) => { %>
        <p><%= comment %></p>
        <% })} %>
      </li>
      <hr />
      <% }) %>
    </ul>
  </body>
</html>
